<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>TERA</title>
</head>
<body>



<!--Navigation Panel-->

<nav class="navbar navbar-expend-nd navbar-light bg-light sticky-top">
<div class="contaienr-fluid">
    <a class="navbar-brand" href="#"><img src="../img/logo2.png" alt="56"></a>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collaps navbar-colapse" id="navbar-Responsive">
<!--        <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Personal Data</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Competences</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Evolution</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Projects</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Evaluations</a>-->
<!--            </li>-->
<!--        </ul>-->
         <ul>
                <li><a href="#">Personal Data</a></li>
                <li><a href="#">Competences</a></li>
                <li><a href="#">Evolution</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Evaluations</a></li>
         </ul>
    </div>
</div>
</nav>


<!--QUOTE-->


<div class=container-fluid">
<div class="row jumbotron">
    <div class="col-md-9 col-lg-9 col-xl-10">
        <p class="lead">“Whether you think you can, or you think you can’t – you’re right.” </p>
        <p>Henry Ford</p>
    </div>
</div>
</div>


</body>
</html>