<div class="card-body" style="padding: 0">


                        <div class="position-relative row form-group" ><label for="worker_hr_name" class="col-sm-2 col-form-label" style="flex: 9%; max-width: 9%">Name</label>
                            <div class="col-sm-10" style="flex: 81%; max-width: 100%"><input name="Name" id="worker_hr_name" placeholder="Woker's name" type="text" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6" style="max-width: 50%">
                                <form class="">
                                    <div class="position-relative row form-group"><label for="start_date_proj" class="col-sm-2 col-form-label">Starting Date</label>
                                        <div class="col-sm-10"><input name="Plant" id="start_date_proj" class="form-control" placeholder="Start date" type="date"></div>
                                    </div>
                                    <div class="position-relative row form-group"><label for="finish_date_proj" class="col-sm-2 col-form-label">Finishing Date</label>
                                        <div class="col-sm-10"><input name="Plant" id="finish_date_proj" class="form-control" placeholder="Finish date" type="date"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                         <div class="col-md-12 col-lg-6" style="max-width: 50%">
                            <div class="position-relative form-group col-md-12"><label for="new_proj_description" class="">Description</label><textarea id="new_proj_description" placeholder="Insert a brief description of this new project" type="text" class="form-control" rows="4"></textarea></div>
                        </div>
                        <div class="row>">
                            <div class="col-md-12 col-lg-6"  style="max-width: 50%">
                                <form class="">
                                    <div class="position-relative row form-group"><label for="proj_skills_need" class="col-sm-2 col-form-label">Skills Needed</label>
                                        <div class="col-sm-10"><select name="skillneeded" id="proj_skills_need" class="form-control"></select></div>
                                        <div class="col-sm-10"><input name="qt" id="proj_skills_need" placeholder="Qt." type="Number" class="form-control">
                                    </div>
                                    <div class="position-relative row form-group"><label for="worker_hr_minavg" class="col-sm-2 col-form-label">Minimum Average</label>
                                        <div class="col-sm-10"><input name="MinAvg" id="worker_hr_minavg" placeholder="Minimum Global Average" type="Number" class="form-control"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 col-lg-6"  style="max-width: 50%">
                                <div class="card-body"><h5 class="card-title">TEAM</h5>
                                    <table class="mb-0 table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Antonio Luis</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jose Luis</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Tersa Matos</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Nicolas</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Gustavo Resende</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Juan Pablo</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12 col-lg-6" >
                                        <div class="position-relative row form-check" >
                                            <div class="col-sm-10 offset-sm-2" style="padding: 0">
                                                <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target=".btn_add_worker">Add Worker</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
